@font-face {
    font-family: "Lilita One";
    src: url("./LilitaOne-Regular.ttf");
}

#game-log {
    position: absolute;
    margin: 80px;
    background-color: transparent;
    color: white;
}

@keyframes fadetext {
    0% {
        background-color: transparent;
        opacity: 1;
        display: block;
        transform: translate(50vw, 50vh)
    }

    2% {
        transform: initial;
    }

    80% {
        opacity: 1;
        display: block;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

body {
    margin: 0;
    font-family: "Lilita One" !important;
    color: white;
    font-weight: 100;
    font-size: 18px;
	cursor: url('https://i.imgur.com/ON0NZbx.png'), pointer;
}

canvas {
    size: 100%;
    display: block;
}

.gameLogText {
    animation-name: fadetext;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    white-space: nowrap;
    background-color: transparent;
    margin: 5px;
    font-size: 1vh;
}

.game-menu {
    transform: translate(50%, 50%);
}

.progress {
    width: 15vw;
    background-color: grey;
    transform: skewX(-10deg);
    background-color: #144b69;
    border: 2px solid #0069a3;

    line-height: 30px;
    color: white;
    float: left;
}

.progressBar {
    width: 60%;
    height: 30px;
    background-color: #128bcc;

}

.progressBarText {
    position: absolute;
    z-index: 100;
    transform: skewX(10deg);
    width: 100%;
    text-align: center;
	user-select: none; 
	-webkit-user-select: none;
}

.progressBarContainer {
    position: absolute;
    z-index: 200;
    left: 50%;
    margin: 0 auto;
    bottom: 5px;
    transform: translate(-50%, -50%);
}

#power {
    background-color: rgb(18, 67, 95);
    border: 2px solid rgb(0, 95, 147);
}

#velocity {
    background-color: rgb(69, 4, 99);
    border: 2px solid rgb(95, 3, 138);
}

#powerBar {
    background-color: rgb(16, 125, 184);
}

#velocityBar {
    background-color: rgb(150, 17, 212);
}

.alwaysfull {
    width: 100% !important;
}

#pitch, #yaw, #roll {
    border: 2px solid rgb(115, 115, 115);
    background-color: rgb(74, 74, 74);
}
.angle {
    background-color: rgb(99, 99, 99);
}
.small {
    width: 10vw !important;
}
	.input {
    	transform: skewX(-10deg);
   		height: 32px;
        font-size: 18px;
        float: left;
        margin: 2px solid #000;
        background-color: rgb(24, 26, 27);
        color: rgb(232, 230, 227);
    font-family: "Lilita One";
    }
.w300 {
	width: 300px;
}
    .input:text {
    	transform: skewX(10deg);
    }
    .button {
        transform: skewX(-10deg);
	    font-family: "Lilita One";
    }
    .midtext {
    	text-align: center;
    }
    .text {
    	transform: skewX(10deg);
        float: left;
    }
    .margin5 {
    	margin: 5px;
    }
    .positive {
    	border: 2px solid rgb(50, 168, 82);
        color: white;
        background-color: rgb(11, 112, 38);
    }
    .nomargin {
    	margin: 0;
    }
    .h32 {
    	height: 38px;
        font-size: 20px;
    }
    .abscenter {
    	position: absolute;
        z-index: 79999;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.settings {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	z-index: 90000;
	background-color: rgba(0, 0, 0, 0.25);
}
.settings-container {
	margin: 5px;
}
.control-row {
	margin: 2px;
}
.control-label {
	display: inline;
	left: 0;
}
.control-value {
	display: inline;
	float: left;
	right: 0;
}
.control-disc {
	color: rgb(127,127,127);
}
.reload-alert {
	color: rgb(227, 0, 0);
}
.button-group {
	margin: 1px;
}
.neutral {
	border: 2px solid rgb(138, 138, 138);
	background-color: rgb(92, 92, 92);
}

        .downalert {
            width: 35vw; 
            height: 8vh; 
            background-color: rgba(138, 18, 18, 0.6); 
            border: 2px solid rgba(207, 17, 17, 0.6);
            z-index: 800; 
            position: absolute; 
            left: 50%;
            top: 70%;
            transform: skewX(-10deg) translate(-50%, 0);
        }
    .downalerttext {
        transform: skewX(10deg) translate(-50%, -50%); 
        left: 50%; 
        top: 50%; 
        position: absolute; 
    }
   

a:hover, button:hover, input:hover {
    cursor: url('https://i.imgur.com/kca1Y8e.png'), pointer;
}
button, a, input {
	cursor: url('https://i.imgur.com/ON0NZbx.png'), pointer;
}

    .sliderbutton {
        border: none;
        background-color: transparent;
        color: white;
    }
    .sliderbutton:focus {
        outline: none;
    }
    
